In [1]:
import numpy as np
import pandas as pd
import json
import os

In [2]:
flight_dir = "Flight Data"


columns_to_keep = ['FlightDate', 'Quarter', 'Year', 'Month', 'DayofMonth', 'DepTime', 'DepDel15', 'CRSDepTime', 
                   'DepDelayMinutes', 'Origin', 'Dest', 'ArrTime', 'CRSArrTime', 'ArrDel15', 'ArrDelayMinutes']


flight_dfs = []

In [3]:
for year_folder in ["2016", "2017"]:
    year_path = os.path.join(flight_dir, year_folder)
    
    
    for month_folder in os.listdir(year_path):
        month_path = os.path.join(year_path, month_folder)
        
       
        for file in os.listdir(month_path):
            if file.endswith(".csv"):
                file_path = os.path.join(month_path, file)
        
                df = pd.read_csv(file_path, usecols=columns_to_keep)
                
                flight_dfs.append(df)

In [4]:

flight_df = pd.concat(flight_dfs, ignore_index=True)

flight_df.to_csv("merged_flight_data.csv", index=False)

In [5]:
flight_df.head()

,Year,Quarter,Month,DayofMonth,FlightDate,Origin,Dest,CRSDepTime,DepTime,DepDelayMinutes,DepDel15,CRSArrTime,ArrTime,ArrDelayMinutes,ArrDel15
0,2016,1,1,6,2016-01-06,DFW,DTW,1100,1057.0,0.0,0.0,1438,1432.0,0.0,0.0
1,2016,1,1,7,2016-01-07,DFW,DTW,1100,1056.0,0.0,0.0,1438,1426.0,0.0,0.0
2,2016,1,1,8,2016-01-08,DFW,DTW,1100,1055.0,0.0,0.0,1438,1445.0,7.0,0.0
3,2016,1,1,9,2016-01-09,DFW,DTW,1100,1102.0,2.0,0.0,1438,1433.0,0.0,0.0
4,2016,1,1,10,2016-01-10,DFW,DTW,1100,1240.0,100.0,1.0,1438,1631.0,113.0,1.0

In [9]:
flight_df.shape

(11292279, 15)